In [54]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [55]:
dataset = pd.read_excel('angket_2022.xlsx')
dataset['Status'] = ''

In [56]:
for ke, ind in dataset.iterrows():
    if (ind.Saran == 'metode pembelajaran sangat mendukung'):
        dataset.at[ke,'Status'] = 'Puas'
    elif (ind.Saran == 'diharapkan kualitas pelayanan akademik dipertahankan'):
        dataset.at[ke,'Status'] = 'Puas'
    elif (ind.Saran == 'mempertahankan hal hal baik yang sudah ada...'):
        dataset.at[ke,'Status'] = 'Puas'
    elif (ind.Saran == 'bapak sudah menyampaikan materi dengan baik, dan juga dapat dipahami, semoga kedepannya bisa lebih baik lagi'):
        dataset.at[ke,'Status'] = 'Puas'
    elif (ind.Saran == 'semoga bisa mempertahankan kinerja baik yang sudah ada'):
        dataset.at[ke,'Status'] = 'Puas'
    elif (ind.Saran == 'referensi pendukung yang mudah diakses'):
        dataset.at[ke,'Status'] = 'Puas'
    elif (ind.Saran == 'bapak menjelaskan dengan baik'):
        dataset.at[ke,'Status'] = 'Puas'
    elif (ind.Saran == 'dipertahankan'):
        dataset.at[ke,'Status'] = 'Puas'
    else:
        dataset.at[ke,'Status'] = 'Tidak Puas'

In [57]:
dataset.head()

,No,Kategori,Tahun,Nim,Kd. Matkul,Saran,Status
0,1,MHS,20222,105011100422,MKP0006,sarana dan prasarana proses pembelajaran perlu...,Tidak Puas
1,2,MHS,20222,105011100822,MKU0203,semoga bisa mempertahankan kinerja baik yang s...,Puas
2,3,MHS,20222,105011100822,MKD0301,semoga bisa mempertahankan kinerja baik yang s...,Puas
3,4,MHS,20222,105011100822,MKP0006,semoga bisa mempertahankan kinerja baik yang s...,Puas
4,5,MHS,20222,105011100822,MKD0306,semoga bisa mempertahankan kinerja baik yang s...,Puas

In [59]:
convert = {"Saran" : {"melakukan perkuliahan offline":0,
                      "lebih memperhatikan sarana dan prasarana yang ada agar pada saat proses pembelajaran berlangsung mahasiswa lebih nyaman memakainya":0,
                      "semoga kedepannya lebih baik lagi.":0,
                      "ketetapan waktu mengakhiri pelajaran":0,
                      "kelas diperbanyak":0,
                      "sarana dan prasarana proses pembelajaran perlu di tingkatkan":0,
                      "semoga lebih baik":0,
                      "ketetapan waktu memulai pelajaran":0,
                      "lebih tepat waktu dalam proses perkuliahan":0,
                      "kedepannya akan menjadi lebih baik":0,
                      "untuk kedepannya alangkah lebih baik diadakan pertemuan kelas secara offline":0,
                      "fasilitas pendukung proses belajar mengajar baik secara offline dan online lebih di maksimalkan lagi":0,
                      "lebih memperhatikan sarana dan prasarana agar saat proses pembelajaran berlangsung mahasiswa lebih nyaman":0,
                      "saran saya untuk lebih meningkatkan kualitas pelayanan dan memberikan kejelasan mengenai prosedur pengurusan berkas.":0,
                      "menciptakan suasana ruang belajar yang nyaman bagi mahasiswa, memperhatikan fasilitas kelas yang perlu diadakan":0,
                      "dipertahankan":1,
                      "metode pembelajaran sangat mendukung":1,
                      "diharapkan kualitas pelayanan akademik dipertahankan":1,
                      "mempertahankan hal hal baik yang sudah ada...":1,
                      "bapak sudah menyampaikan materi dengan baik, dan juga dapat dipahami, semoga kedepannya bisa lebih baik lagi":1,
                      "semoga bisa mempertahankan kinerja baik yang sudah ada":1,
                      "referensi pendukung yang mudah diakses":1,
                      "bapak menjelaskan dengan baik":1,
                     },
           "Status" :{
                       "Puas":1,
                       "Tidak Puas":0,
                     }
          }

In [60]:
dataset = dataset.replace(convert)

In [61]:
dataset

      No Kategori  Tahun           Nim     Kd. Matkul  Saran  Status
0      1      MHS  20222  105011100422        MKP0006      0       0
1      2      MHS  20222  105011100822        MKU0203      1       1
2      3      MHS  20222  105011100822        MKD0301      1       1
3      4      MHS  20222  105011100822        MKP0006      1       1
4      5      MHS  20222  105011100822        MKD0306      1       1
..   ...      ...    ...           ...            ...    ...     ...
516  517      MHS  20222  105971101320     32MKP39710      0       0
517  518      MHS  20222  105971101320     32MPT39709      0       0
518  519      MHS  20222  105971101320     32MKP39711      0       0
519  520      MHS  20222  105971101320  AW60910041610      0       0
520  521      MHS  20222  105971101320     32MKP39708      0       0

[521 rows x 7 columns]

In [62]:
dataset = dataset.drop(columns=['No','Kategori','Tahun','Nim','Kd. Matkul'])

In [63]:
dataset.describe()

            Saran      Status
count  521.000000  521.000000
mean     0.211132    0.211132
std      0.408504    0.408504
min      0.000000    0.000000
25%      0.000000    0.000000
50%      0.000000    0.000000
75%      0.000000    0.000000
max      1.000000    1.000000

In [64]:
x = dataset.drop('Status',axis=1)
y = dataset['Status']

In [65]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3, random_state=0)

In [66]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor()
regressor.fit(x_train,y_train)

DecisionTreeRegressor()

In [67]:
y_pred = regressor.predict(x_test)

In [72]:
frame = pd.DataFrame({'Actual':y_test, 'Prediction':y_pred})
frame

     Actual  Prediction
157       0         0.0
137       0         0.0
263       0         0.0
45        1         1.0
108       1         1.0
..      ...         ...
52        0         0.0
74        0         0.0
26        0         0.0
298       0         0.0
4         1         1.0

[157 rows x 2 columns]

In [73]:
from sklearn import metrics
print('Mean Absolute Error : ', metrics.mean_absolute_error(y_test,y_pred))
print('Mean Squared Error : ', metrics.mean_squared_error(y_test,y_pred))
print('Root Mean Squared Error : ', np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

Mean Absolute Error :  0.0
Mean Squared Error :  0.0
Root Mean Squared Error :  0.0